.backdrop{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.resume-overlay {
  position: fixed;
  top: 5vh;
  left: 25%;
  overflow: auto;
  /* width: 50%;*/
  height: 90vh; 
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (max-width: 768px){
  .resume-overlay{
  left: 6% !important;
  height: 80vh !important;
  top: 5rem !important;
  display: flex !important;
  align-items: center !important;
  }

  .resume-overlay #resume{
    width: 80vw !important;
    height: 80vh !important;
    padding: 1.5rem 1rem !important;
  }

  .resume-overlay .sec-heading{
    font-size: 1rem;
  }

  .resume-overlay p, li{
    font-size: 0.8rem;
  }

  .resume-overlay .designation{
    font-size: 1rem;
  }

  .resume-overlay .name{
    font-size:1.5rem;
  }
}